useDynLib(SurrogateParadoxTest, .registration = TRUE)
importFrom(stats, bw.nrd, lm, quantile, ecdf, pnorm, rnorm, sd, dnorm, nlminb, poly, var)
importFrom(MonotonicityTest, monotonicity_test)
importFrom(ggplot2, ggplot, geom_point, geom_smooth, geom_tile, geom_contour, aes, labs, scale_fill_identity, theme_minimal, xlim, stat_smooth, coord_cartesian)
importFrom(MASS, mvrnorm)
importFrom(Rcpp, cppFunction)
importFrom(splines, bs)
importFrom(parallel, mclapply, detectCores)
importFrom(numDeriv, hessian, grad)
importFrom(Matrix, bdiag)
export("test_assumptions")
export("gaussian_process_interval")
export("fourier_interval")
export("polynomial_interval")
export("gp_resilience_set")
export("fourier_resilience_set")
export("polynomial_resilience_set")
export("meta_analytic_resilience")
